<div class="col-lg-12 noticia">
    <h1>Pesquise seu herói</h1>
    <form action="http://localhost:3000/marvel/retorna_busca/" method="post">
        <p>Nome: <input type="text" name='name' ></p>
        <p><input type="submit" value='pesquisar'></p>        
    </form>    
</div> 