<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="witdth=device-width" />
    <meta name="description" content="Página com hérois da Marvel" />
    <meta name="keywords" content="NodeJS, bootstrap, PWN,Fábio Teixeira, Filipe Eduardo, LUiz Carlos" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.css">

</head>

<body>
h1>Olá, {{profile.displayName}}</h1>
     
    <script src="./css/bootstrap.css"></script>
</body>

</html>
