<nav class=" navbar navbar-light bg-light justify-content-between">
    <a href="#" class="card link"><img src="imagens/marvel.png" alt="Marvel"></a>
    <form class="form-inline navbar-brand">
        <a href="/login" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Fazer Login</a>
        <a href="/signup" class="btn btn-success btn-lg" role="button" aria-pressed="true">Cadastre-se</a>
    </form>
</nav>
<div class="mx-auto text-center">
<div class="centerDiv">
  <div>Buscar herói</div>
  <div class="centerInput">        
    <form action="#">
      <input type="text" class="searchInput">
      <i class="fab fa-searchengin"></i>
    </form>
  </div>      
</div>        
</div>