<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Página com hérois da Marvel" />
    <meta name="keywords" content="NodeJS, bootstrap, PWN,Fábio Teixeira, Filipe Eduardo, LUiz Carlos" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{title}}</title>
    <link rel="shortcut icon" href="/public/imagens/favicon.ico">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>
  <body background-imagem:url("/imagens/wallpaper.jpg")>
   
       <!-- Navegação -->
    <nav class=" navbar navbar-light bg-light justify-content-between">
        <a href="#" class="card link"><img src="imagens/marvel.png" alt="Marvel"></a>
        <form class="form-inline navbar-brand">
            <!-- Button trigger modal -->
            <button class="btn btn-danger col-md-14 mb-3" type="button" data-toggle="modal" data-target="#exampleModalCenter">ENTRE</button><br>    
        </form>
    </nav>
 <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Preparado para fazer logon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <img src="imagens/marvel.png" class="rounded" alt="Marvel">
          <br>
          <h3 class="titulo">
            <span>VAMOS COMEÇAR</span>
          </h3>
          <br>
          <p>Ao clicar em ENTRE, você concorda em ter a maior experiência
          dentro do Universo Marvel em pesquisar os seus personagens 
          preferidos.</p>
          <p>Pode fica tranquilo não publicaremos nada em seu perfil.</p>
          <br>
          <form action="/auth/facebook">
            <button class="btn btn-primary col-md-10 mb-4" type="submit" data-toggle="modal" data-target="#exampleModalCenter">ENTRAR COM FACEBOOK</button>
          </form>
         <form action="/auth/github">
            <button class="btn btn-primary col-md-10 mb-4" type="submit" data-toggle="modal" data-target="#exampleModalCenter">ENTRAR COM GITHUB</button>
         </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary col-md-4 mb-3" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div> <!--Fim Modal-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  </body>
</html>
