<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="witdth=device-width" />
    <meta name="description" content="Página com hérois da Marvel" />
    <meta name="keywords" content="NodeJS, bootstrap, PWN,Fábio Teixeira, Filipe Eduardo, Luiz Carlos" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.css">

</head>

<body>

    <div class="mx-auto text-center" style="width: 490px;">
        <h1>Fazer Login no Site</h1>
        <a href="/signup">
            <h4>ou crie a sua conta</h4>
        </a><br>

        <!--Formulario-->
        <form>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">E-mail</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" placeholder="E-mail" required>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationServer02">Senha</label>
                    <input type="password" class="form-control is-valid" id="validationServer02" placeholder="Senha" required>

                </div>

            </div>

            <button class="btn btn-success col-md-12 mb-3" type="submit">Fazer Login</button>
        </form>
        <br><br>

        <button type="button" class="btn btn-outline-secondary btn-sm col-md-12 mb-3"><img src="./imagens/facebook-icon-preview-1.png" alt="FACEBOOK"><a href="/auth/facebook"> Fazer Login com Facebook</a></button>

    </div>

    <script src="./css/bootstrap.css"></script>
</body>

</html>
