<div class="col-lg-12 noticia">
  <p><a href="#" bloqued >Add. Favoritos</a></p>
  <h2>Perfil do personagem</h2>
  <img class="img-thumbnail" src="{{img}}"  alt="">
    <p><b>Nome</b>: {{personagem.name}}</p>        
    <p><b>Descrição</b>: {{personagem.description}}</p>               
</div> 