<title>{{title}}</title>
<div class="perfil mx-auto text-center">
        <h3 class="titulo"><span>{{profile.displayName}}</span></h3>
        <h6 class="paraf">ID: {{profile.id}}</h6>  
</div>

  
    
    
    
    
