<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="witdth=device-width" />
    <meta name="description" content="Página com hérois da Marvel" />
    <meta name="keywords" content="NodeJS, bootstrap, PWN,Fábio Teixeira, Filipe Eduardo, LUiz Carlos" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/bootstrap.css">

</head>

<body>

    <div class="mx-auto text-center" style="width: 490px;">
        <h1>Criar uma conta no Site</h1>
        <a href="/login">
            <h4>ou faça login na sua conta</h4>
        </a><br>

        <!--Formulario-->
        <form>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer01">Nome</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" placeholder="p.ex., José" required>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationServer02">E-mail</label>
                    <input type="text" class="form-control is-valid" id="validationServer02" placeholder="E-mail" required>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationServer03">Senha</label>
                    <input type="password" class="form-control is-valid" id="validationServer03" placeholder="Senha" required>

                </div>

            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                    <label class="form-check-label" for="invalidCheck3">
                        Aceita com os termos e condições
                    </label>
                    <div class="invalid-feedback">
                        Você deve concordar antes de enviar.
                    </div>
                </div>
            </div>
            <button class="btn btn-success col-md-12 mb-3" type="submit">Criar Nova Conta</button>
        </form>
        <br><br>

        <button type="button" class="btn btn-outline-secondary btn-sm col-md-12 mb-3"><img src="imagens/facebook-icon-preview-1.png" alt="FACEBOOK">Cadastre-se com Facebook</button>

    </div>

    <script src="./css/bootstrap.css"></script>
</body>

</html>
